<!DOCTYPE html>
<html lang="fr FR">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{asset("assets/js/jquery-ui.min.js")}}"></script>
		<link rel="stylesheet" href="{{asset("assets/css/jquery-ui.min.css")}}">
		<link rel="stylesheet" href="{{asset("assets/css/jquery-ui.structure.min.css")}}">
		<title>CrazyFries
			{% block title %}{% endblock %}
		</title>
		<script src="script.js"></script>
		<link rel="stylesheet" href="{{asset("assets/css/output.css")}}">
		<link rel="stylesheet" href="{{asset("assets/css/style.css")}}"/> {% block script %}{% endblock %}{% block css %}{% endblock %}
		</head>
		<body class=""> {% block body %}{% endblock %}
			</body>
			{% block js %}{% endblock %}
		</html>
